<div class="jumbotron text-center" id="monster_name">
  <h1><%= @monster.name %></h1>
</div>

<% if @previous_page != nil %>
  <p><%= link_to "Return to Previous Page", monsters_page_path(@previous_page) %></p>
<% else %>
  <p><%= link_to "Return to Previous Page", monsters_path %></p>
<% end %>

<% if @monster.image != nil %>
  <div class="text-center">
    <image src="https://www.dnd5eapi.co<%= @monster.image %>" alt="No Picture Available"></image>
  </div>
<% end %>


<table class="table" id="monster_stats">
  <thead>
    <th scope="col">Hit Points</th>
    <th scope="col">Armor class</th>
    <th scope="col">Strength</th>
    <th scope="col">Dexterity</th>
    <th scope="col">Constitution</th>
    <th scope="col">Intelligence</th>
    <th scope="col">Wisdom</th>
    <th scope="col">Charisma</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @monster.hit_points %></td>
      <td><%= @monster.armor_class %></td>
      <td><%= @monster.strength %></td>
      <td><%= @monster.dexterity %></td>
      <td><%= @monster.constitution %></td>
      <td><%= @monster.intelligence %></td>
      <td><%= @monster.wisdom %></td>
      <td><%= @monster.charisma %></td>
    </tr>
  </tbody>
</table>

<h3 class="text-center">Attacks</h3>
    <table class="table table-bordered" id="monster_attacks">
      <thead class="thead-dark">
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </thead>
      <tbody>
      <% @monster.attacks.each do |attack| %>
        <tr>
          <th scope="row"><%= attack[:name] %></th>
          <td><%= attack[:description] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<div>
</div>