

<div class="jumbotron text-center">
<h1>Encounter Creation</h1>
</div>

<div class="container">
  <h2>Encounter Details</h2>
  <%= form_with url: encounters_path do |form| %>
    <div class="form-group search-field">
      <%= form.label :monster, 'Monster' %>
      <%= select_tag :monster, options_for_select(@monsters) %>
    </div>
    <section class="character1">
      <div class="form-inline">
        <h3>Character (1)</h3>
      <%= form.fields_for :char1 do |char1| %>
        <div class="form-group">
          <%= char1.label :class, 'Class' %>
          <%= char1.select :class, options_for_select(@players) %>
        </div>
        <div class="form-group">
          <%= char1.label :level, 'Level' %>
          <%= char1.select :level, options_for_select(@encounter.levels) %>
        </div>
        <div class="form-inline">
          <h4>Modifiers</h4>
          <div class="form-group">
            <%= char1.label :strength, 'Strength' %>
            <%= char1.select :strength, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char1.label :dexterity, 'Dexterity' %>
            <%= char1.select :dexterity, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char1.label :constitution, 'Constitution' %>
            <%= char1.select :constitution, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char1.label :wisdom, 'Wisdom' %>
            <%= char1.select :wisdom, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char1.label :charisma, 'Charisma' %>
            <%= char1.select :charisma, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char1.label :intelligence, 'Intelligence' %>
            <%= char1.select :intelligence, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <h4>Spells</h4>
          <div class="form-group">
            <%= char1.label :spell1, 'Spell 1' %>
            <%= char1.select :spell1, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char1.label :spell2, 'Spell 2' %>
            <%= char1.select :spell2, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char1.label :spell3, 'Spell 3' %>
            <%= char1.select :spell3, options_for_select(@spells) %>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <%= char1.label :hit_points, 'Hit Points' %>
            <%= char1.text_field :hit_points, type: 'number' %>
          </div>
          <div class="form-group">
            <%= char1.label :armor_class, 'Armor Class' %>
            <%= char1.select :armor_class, options_for_select(@encounter.armor_class) %>
          </div>
          <div class="form-group">
          <%= char1.label :damage_die1, 'Base Damage Dice' %>
          <%= char1.select :damage_die1, options_for_select(@encounter.damage_die_1) %>
          </div>
          <div class="form-group">
            <%= char1.label :damage_die2, '*' %>
            <%= char1.select :damage_die2, options_for_select(@encounter.damage_die_2) %>
          </div>
        <% end %>
        </div>
      </section>

    <section class="character2">
      <div class="form-inline">
        <h3>Character (2)</h3>
      <%= form.fields_for :char2 do |char2| %>
        <div class="form-group">
          <%= char2.label :class, 'Class' %>
          <%= char2.select :class, options_for_select(@players) %>
        </div>
        <div class="form-group">
          <%= char2.label :level, 'Level' %>
          <%= char2.select :level, options_for_select(@encounter.levels) %>
        </div>
        <div class="form-inline">
          <h4>Modifiers</h4>
          <div class="form-group">
            <%= char2.label :strength, 'Strength' %>
            <%= char2.select :strength, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char2.label :dexterity, 'Dexterity' %>
            <%= char2.select :dexterity, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char2.label :constitution, 'Constitution' %>
            <%= char2.select :constitution, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char2.label :wisdom, 'Wisdom' %>
            <%= char2.select :wisdom, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char2.label :charisma, 'Charisma' %>
            <%= char2.select :charisma, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char2.label :intelligence, 'Intelligence' %>
            <%= char2.select :intelligence, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <h4>Spells</h4>
          <div class="form-group">
            <%= char2.label :spell1, 'Spell 1' %>
            <%= char2.select :spell1, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char2.label :spell2, 'Spell 2' %>
            <%= char2.select :spell2, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char2.label :spell3, 'Spell 3' %>
            <%= char2.select :spell3, options_for_select(@spells) %>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <%= char2.label :hit_points, 'Hit Points' %>
            <%= char2.text_field :hit_points, type: 'number' %>
          </div>
          <div class="form-group">
            <%= char2.label :armor_class, 'Armor Class' %>
            <%= char2.select :armor_class, options_for_select(@encounter.armor_class) %>
          </div>
          <div class="form-group">
          <%= char2.label :damage_die1, 'Base Damage Dice' %>
          <%= char2.select :damage_die1, options_for_select(@encounter.damage_die_1) %>
          </div>
          <div class="form-group">
            <%= char2.label :damage_die2, '*' %>
            <%= char2.select :damage_die2, options_for_select(@encounter.damage_die_2) %>
          </div>
        <% end %>
        </div>
      </section>

      <section class="character3">
      <div class="form-inline">
        <h3>Character (3)</h3>
        <%= form.fields_for :char3 do |char3| %>
        <div class="form-group">
          <%= char3.label :class, 'Class' %>
          <%= char3.select :class, options_for_select(@players) %>
        </div>
        <div class="form-group">
          <%= char3.label :level, 'Level' %>
          <%= char3.select :level, options_for_select(@encounter.levels) %>
        </div>
        <div class="form-inline">
          <h4>Modifiers</h4>
          <div class="form-group">
            <%= char3.label :strength, 'Strength' %>
            <%= char3.select :strength, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char3.label :dexterity, 'Dexterity' %>
            <%= char3.select :dexterity, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char3.label :constitution, 'Constitution' %>
            <%= char3.select :constitution, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char3.label :wisdom, 'Wisdom' %>
            <%= char3.select :wisdom, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char3.label :charisma, 'Charisma' %>
            <%= char3.select :charisma, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char3.label :intelligence, 'Intelligence' %>
            <%= char3.select :intelligence, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <h4>Spells</h4>
          <div class="form-group">
            <%= char3.label :spell1, 'Spell 1' %>
            <%= char3.select :spell1, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char3.label :spell2, 'Spell 2' %>
            <%= char3.select :spell2, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char3.label :spell3, 'Spell 3' %>
            <%= char3.select :spell3, options_for_select(@spells) %>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <%= char3.label :hit_points, 'Hit Points' %>
            <%= char3.text_field :hit_points, type: 'number' %>
          </div>
          <div class="form-group">
            <%= char3.label :armor_class, 'Armor Class' %>
            <%= char3.select :armor_class, options_for_select(@encounter.armor_class) %>
          </div>
          <div class="form-group">
          <%= char3.label :damage_die1, 'Base Damage Dice' %>
          <%= char3.select :damage_die1, options_for_select(@encounter.damage_die_1) %>
          </div>
          <div class="form-group">
            <%= char3.label :damage_die2, '*' %>
            <%= char3.select :damage_die2, options_for_select(@encounter.damage_die_2) %>
          </div>
        <% end %>
        </div>
      </section>

      <section class="character4">
      <div class="form-inline">
        <h3>Character (4)</h3>
        <%= form.fields_for :char4 do |char4| %>
        <div class="form-group">
          <%= char4.label :class, 'Class' %>
          <%= char4.select :class, options_for_select(@players) %>
        </div>
        <div class="form-group">
          <%= char4.label :level, 'Level' %>
          <%= char4.select :level, options_for_select(@encounter.levels) %>
        </div>
        <div class="form-inline">
          <h4>Modifiers</h4>
          <div class="form-group">
            <%= char4.label :strength, 'Strength' %>
            <%= char4.select :strength, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char4.label :dexterity, 'Dexterity' %>
            <%= char4.select :dexterity, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char4.label :constitution, 'Constitution' %>
            <%= char4.select :constitution, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char4.label :wisdom, 'Wisdom' %>
            <%= char4.select :wisdom, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char4.label :charisma, 'Charisma' %>
            <%= char4.select :charisma, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char4.label :intelligence, 'Intelligence' %>
            <%= char4.select :intelligence, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <h4>Spells</h4>
          <div class="form-group">
            <%= char4.label :spell1, 'Spell 1' %>
            <%= char4.select :spell1, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char4.label :spell2, 'Spell 2' %>
            <%= char4.select :spell2, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char4.label :spell3, 'Spell 3' %>
            <%= char4.select :spell3, options_for_select(@spells) %>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <%= char4.label :hit_points, 'Hit Points' %>
            <%= char4.text_field :hit_points, type: 'number' %>
          </div>
          <div class="form-group">
            <%= char4.label :armor_class, 'Armor Class' %>
            <%= char4.select :armor_class, options_for_select(@encounter.armor_class) %>
          </div>
          <div class="form-group">
          <%= char4.label :damage_die1, 'Base Damage Dice' %>
          <%= char4.select :damage_die1, options_for_select(@encounter.damage_die_1) %>
          </div>
          <div class="form-group">
            <%= char4.label :damage_die2, '*' %>
            <%= char4.select :damage_die2, options_for_select(@encounter.damage_die_2) %>
          </div>
        <% end %>
        </div>
      </section>

      <section class="character5">
      <div class="form-inline">
        <h3>Character (5)</h3>
        <%= form.fields_for :char5 do |char5| %>
        <div class="form-group">
          <%= char5.label :class, 'Class' %>
          <%= char5.select :class, options_for_select(@players) %>
        </div>
        <div class="form-group">
          <%= char5.label :level, 'Level' %>
          <%= char5.select :level, options_for_select(@encounter.levels) %>
        </div>
        <div class="form-inline">
          <h4>Modifiers</h4>
          <div class="form-group">
            <%= char5.label :strength, 'Strength' %>
            <%= char5.select :strength, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char5.label :dexterity, 'Dexterity' %>
            <%= char5.select :dexterity, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char5.label :constitution, 'Constitution' %>
            <%= char5.select :constitution, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char5.label :wisdom, 'Wisdom' %>
            <%= char5.select :wisdom, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char5.label :charisma, 'Charisma' %>
            <%= char5.select :charisma, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <div class="form-group">
            <%= char5.label :intelligence, 'Intelligence' %>
            <%= char5.select :intelligence, options_for_select(@encounter.ability_modifiers) %>
          </div>
          <h4>Spells</h4>
          <div class="form-group">
            <%= char5.label :spell1, 'Spell 1' %>
            <%= char5.select :spell1, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char5.label :spell2, 'Spell 2' %>
            <%= char5.select :spell2, options_for_select(@spells) %>
          </div>
          <div class="form-group">
            <%= char5.label :spell3, 'Spell 3' %>
            <%= char5.select :spell3, options_for_select(@spells) %>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <%= char5.label :hit_points, 'Hit Points' %>
            <%= char5.text_field :hit_points, type: 'number' %>
          </div>
          <div class="form-group">
            <%= char5.label :armor_class, 'Armor Class' %>
            <%= char5.select :armor_class, options_for_select(@encounter.armor_class) %>
          </div>
          <div class="form-group">
          <%= char5.label :damage_die1, 'Base Damage Dice' %>
          <%= char5.select :damage_die1, options_for_select(@encounter.damage_die_1) %>
          </div>
          <div class="form-group">
            <%= char5.label :damage_die2, '*' %>
            <%= char5.select :damage_die2, options_for_select(@encounter.damage_die_2) %>
          </div>
        <% end %>
        </div>
      </section>

    <div class="btn btn-default">
      <strong><%= form.submit 'Create Encounter' %></strong>
    </div>

  <% end %>
</div>

