<div class="jumbotron text-center">
<h1>Encounter Results</h1>
</div>
<h3 class="text-center">Simulation ID: <%= @encounter.sim_id %></h3>
<table class="table">
  <thead>
    <th scope="col">Total Wins</th>
    <th scope="col">Total Losses</th>
    <th scope="col">Total Rounds</th>
    <th scope="col">Win Percentage</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @encounter.total_wins %></td>
      <td><%= @encounter.total_losses %></td>
      <td><%= @encounter.total_rounds %></td>
      <td><%= @encounter.win_percentage * 100 %>%</td>
    </tr>
  </tbody>
</table>
<div style="display: flex;">
    <div class="card" style="width: 20%;">
      <div class="card-title"><h3>P1 Stats</h3></div>
      <ul class="list-group list_group-flush">
        <li class="list-group-item">Avg Damage Per Round: <%= @encounter.p1_dmg %></li>
      </ul>
    </div>
    <div class="card" style="width: 20%;">
      <div class="card-title"><h3>P2 Stats</h3></div>
      <ul class="list-group list_group-flush">
        <li class="list-group-item">Avg Damage Per Round: <%= @encounter.p2_dmg %></li>
      </ul>
    </div>
    <div class="card" style="width: 20%;">
      <div class="card-title"><h3>P3 Stats</h3></div>
      <ul class="list-group list_group-flush">
        <li class="list-group-item">Avg Damage Per Round: <%= @encounter.p3_dmg %></li>
      </ul>
    </div>
    <div class="card" style="width: 20%;">
      <div class="card-title"><h3>P4 Stats</h3></div>
      <ul class="list-group list_group-flush">
        <li class="list-group-item">Avg Damage Per Round: <%= @encounter.p4_dmg %></li>
      </ul>
    </div>
    <div class="card" style="width: 20%;">
      <div class="card-title"><h3>P5 Stats</h3></div>
      <ul class="list-group list_group-flush">
        <li class="list-group-item">Avg Damage Per Round: <%= @encounter.p5_dmg %></li>
      </ul>
    </div>
</div>