<div class="jumbotron text-center">
<h1>Encounter Results</h1>
</div>
<h3 class="text-center">Simulation ID: <%= @encounter.sim_id %></h3>
<table class="table">
  <thead>
    <th scope="col">Total Wins</th>
    <th scope="col">Total Losses</th>
    <th scope="col">Total Rounds</th>
    <th scope="col">Win Percentage</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @encounter.total_wins %></td>
      <td><%= @encounter.total_losses %></td>
      <td><%= @encounter.total_rounds %></td>
      <td><%= @encounter.win_percentage * 100 %>%</td>
    </tr>
  </tbody>
</table>
<div class="d-inline-flex">
  <div>
    <table class="table">
      <thead>
        <td>P1</td>
        <td>AVG Damage</td>
      </thead>
      <tbody>
        <td>-</td>
        <td><%= @encounter.p1_dmg %></td>
      </tbody>
    </table>
  </div>
    <div>
    <table class="table">
      <thead>
        <td>P2</td>
        <td>Avg Damage</td>
      </thead>
      <tbody>
        <td>-</td>
        <td><%= @encounter.p2_dmg %></td>
      </tbody>
    </table>
  </div>
    <div>
    <table class="table">
      <thead>
        <td>P3</td>
        <td>Avg Damage</td>
      </thead>
      <tbody>
        <td>-</td>
        <td><%= @encounter.p3_dmg %></td>
      </tbody>
    </table>
  </div>
    <div>
    <table class="table">
      <thead>
        <td>P4</td>
        <td>Avg Damage</td>
      </thead>
      <tbody>
        <td>-</td>
        <td><%= @encounter.p4_dmg %></td>
      </tbody>
    </table>
  </div>
    <div>
    <table class="table">
      <thead>
        <td>P5</td>
        <td>Avg Damage</td>
      </thead>
      <tbody>
        <td>-</td>
        <td><%= @encounter.p5_dmg %></td>
      </tbody>
    </table>
  </div>
</div>